h1{
	color: skyblue;
	text-align: center;
}

body{
	background-color: whitesmoke;
}

a{
	color: steelblue;
	text-decoration-line: none;
}

li{
	list-style: none;
}

p{
	color: steelblue;
}

hr{
	height: 5px;
	background-color: steelblue;
}

tr{
	border: 2px solid steelblue;
}
th{
	border: 2px solid steelblue;
}

table{
	border: 4px solid lightblue;
}

.important{
	border: 1px solid lightblue;
	text-align: center;
	line-height: 20px;
}

